/* :: FONTS :: */
@import url("https://fonts.googleapis.com/css?family=Gentium+Book+Basic:700|Lato|Open+Sans|Yeseva+One");
/* :: BARIABLES & FUNCTIONS :: */
/* :: RESETS :: */
*, *::before, *::after {
  box-sizing: border-box; }

html {
  margin: 0;
  padding: 0;
  outline: 0; }
  html body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #4c4c4c; }

.container {
  width: 1210px;
  margin: 0 auto; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

/* :: COMMONS :: */
.btn {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  padding: 22px 55px;
  color: #ffffff;
  transition: 300ms; }
  .btn:hover {
    color: #cc9900; }

::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: italic; }

::-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: italic; }

::-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: italic; }

::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: italic; }

/* :: STYLES Start :: */
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  background-image: url(../img/banner_top.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 760px; }
  #header header .logo {
    float: left;
    height: 110px;
    line-height: 110px; }
  #header header nav {
    float: left; }
    #header header nav ul {
      margin: 0 15px 0 80px;
      padding: 0;
      display: flex; }
      #header header nav ul li {
        list-style: none;
        margin-right: 40px;
        position: relative; }
        #header header nav ul li:last-child {
          margin-right: 0; }
        #header header nav ul li a {
          font-family: "Gentium Book Basic", serif;
          font-size: 21px;
          font-weight: 700;
          color: #ffffff;
          letter-spacing: 1px;
          height: 110px;
          line-height: 110px;
          padding: 0 10px;
          display: block;
          transition: 300ms; }
          #header header nav ul li a:hover {
            color: #cc9900; }
          #header header nav ul li a::before {
            content: "";
            display: block;
            height: 3px;
            background-color: #ffffff;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            transform: scale(0, 1);
            transform-origin: left;
            transition: transform ease-in-out 300ms; }
          #header header nav ul li a:hover::before {
            transform: scale(1, 1); }
  #header header .social {
    height: 110px;
    line-height: 110px; }
    #header header .social ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      #header header .social ul li {
        display: inline-block; }
        #header header .social ul li a {
          font-size: 20px;
          color: #dab33e;
          padding: 0 10px;
          transition: 300ms; }
          #header header .social ul li a:hover {
            color: #ffffff; }
  #header header .menu-toggle {
    float: right;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    display: none; }
  #header .hero-cta {
    text-align: center;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #header .hero-cta .hero {
      width: 1000px;
      margin-bottom: 40px; }
      #header .hero-cta .hero h1 {
        font-family: "Yeseva One", serif;
        font-size: 90px;
        text-transform: lowercase;
        color: #ffffff;
        margin-top: 0;
        margin-bottom: 40px; }
    #header .hero-cta .cta {
      display: inline-block;
      margin-top: 40px; }
      #header .hero-cta .cta .btn-black {
        background-color: rgba(0, 0, 0, 0.4);
        border: 1px solid #000000;
        margin-right: 15px; }
      #header .hero-cta .cta .btn-white {
        background-color: rgba(255, 255, 255, 0.4);
        border: 1px solid #ffffff;
        margin-left: 15px; }

#review {
  position: absolute;
  top: 760px;
  left: 0;
  right: 0;
  background: url(../img/bg-pattern_01.png); }
  #review .container {
    display: flex;
    justify-content: space-around; }
    #review .container .cookReview {
      margin-top: 75px;
      margin-bottom: 40px;
      text-align: center; }
      #review .container .cookReview h1 {
        font-family: "Yeseva One", serif;
        font-size: 36px;
        color: #cc9900;
        margin-bottom: 20px; }
      #review .container .cookReview p {
        width: 410px;
        line-height: 22px;
        margin-bottom: 50px; }
    #review .container .dish {
      margin-top: 75px;
      margin-bottom: 40px;
      text-align: center; }

#ingredients {
  position: absolute;
  top: 1470px;
  left: 0;
  right: 0;
  background: url(../img/banner_middle.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 760px; }
  #ingredients .container {
    display: flex;
    justify-content: flex-end; }
    #ingredients .container .ingredient-box-bg {
      width: 570px;
      height: 570px;
      margin-top: 100px;
      background-color: rgba(0, 0, 0, 0.6); }
      #ingredients .container .ingredient-box-bg .ingredient-box {
        margin: 80px;
        display: flex;
        flex-direction: column;
        align-items: center; }
        #ingredients .container .ingredient-box-bg .ingredient-box h1 {
          font-family: "Yeseva One", serif;
          font-size: 36px;
          color: #ffffff;
          margin: 0 0 20px; }
        #ingredients .container .ingredient-box-bg .ingredient-box img {
          margin: 0 0 20px; }
        #ingredients .container .ingredient-box-bg .ingredient-box p {
          width: 410px;
          color: #ffffff;
          line-height: 22px;
          text-align: center;
          margin: 0 0 70px; }
        #ingredients .container .ingredient-box-bg .ingredient-box ul {
          list-style: none;
          margin: 0;
          padding: 0;
          width: 100%;
          display: flex;
          justify-content: space-between; }

#lambdaMenus {
  position: absolute;
  top: 2230px;
  left: 0;
  right: 0;
  background: url(../img/bg-pattern_02.png); }
  #lambdaMenus .column {
    column-count: 2;
    column-gap: 160px;
    margin: 90px 0; }
    #lambdaMenus .column .menu {
      margin: 60px 0; }
      #lambdaMenus .column .menu:first-child {
        margin-top: 0; }
      #lambdaMenus .column .menu .menu-head {
        text-align: center;
        margin-bottom: 20px; }
        #lambdaMenus .column .menu .menu-head h2 {
          font-family: "Yeseva One", serif;
          font-size: 36px;
          color: #cc9900;
          margin-bottom: 20px; }
      #lambdaMenus .column .menu .appetiser h2 {
        margin-top: 0; }
      #lambdaMenus .column .menu .menu-list {
        padding: 0 10px;
        position: relative; }
        #lambdaMenus .column .menu .menu-list .menu-item {
          margin-bottom: 20px; }
          #lambdaMenus .column .menu .menu-list .menu-item .menu-name {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #cc9900; }
            #lambdaMenus .column .menu .menu-list .menu-item .menu-name h3 {
              font-family: "Yeseva One", serif;
              font-size: 21px;
              color: #cc9900;
              margin: 10px 0; }
        #lambdaMenus .column .menu .menu-list .special01,
        #lambdaMenus .column .menu .menu-list .special02 {
          padding: 10px;
          border: 1px solid #cc9900; }
        #lambdaMenus .column .menu .menu-list .special01::before,
        #lambdaMenus .column .menu .menu-list .special02::before {
          content: "Special";
          font-size: 14px;
          background-color: #cc9900;
          color: #ffffff;
          padding: 5px 10px;
          position: absolute;
          top: 74px;
          right: 10px; }

#guestReviews {
  position: absolute;
  top: 3350px;
  left: 0;
  right: 0;
  background: url(../img/banner_bottom.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 760px; }
  #guestReviews .review-box-bg {
    width: 775px;
    height: 560px;
    margin: 100px auto;
    background-color: rgba(0, 0, 0, 0.6); }
    #guestReviews .review-box-bg .review-box {
      margin: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative; }
      #guestReviews .review-box-bg .review-box h1 {
        font-family: "Yeseva One", serif;
        font-size: 36px;
        color: #ffffff;
        margin: 80px 0 20px; }
      #guestReviews .review-box-bg .review-box img {
        margin: 0 0 20px; }
      #guestReviews .review-box-bg .review-box p {
        font-family: "Gentium Book Basic", serif;
        font-size: 25px;
        width: 630px;
        color: #ffffff;
        line-height: 40px;
        text-align: center;
        margin: 0 0 30px; }
        #guestReviews .review-box-bg .review-box p::before {
          content: '"';
          font-family: "Yeseva One", serif;
          font-size: 90px;
          color: #f2f4f4;
          position: absolute;
          top: 180px;
          left: -30px; }
      #guestReviews .review-box-bg .review-box small {
        font-family: "Lato", sans-serif;
        font-size: 18px;
        color: #ffffff; }

#booking {
  position: absolute;
  top: 4110px;
  left: 0;
  right: 0;
  background: url(../img/bg-pattern_01.png); }
  #booking .booking-card {
    display: flex;
    margin: 100px 0; }
    #booking .booking-card .right-food-img {
      width: 570px;
      column-count: 2; }
    #booking .booking-card .booking-for-food {
      width: 430px;
      margin-left: 108px;
      text-align: center; }
      #booking .booking-card .booking-for-food .right-food {
        margin-bottom: 40px; }
        #booking .booking-card .booking-for-food .right-food h1 {
          font-family: "Yeseva One", serif;
          font-size: 36px;
          color: #cc9900;
          margin: 0 0 20px; }
        #booking .booking-card .booking-for-food .right-food p {
          line-height: 24px; }
      #booking .booking-card .booking-for-food .booking-form {
        width: 430px;
        column-count: 2;
        text-align: left; }
        #booking .booking-card .booking-for-food .booking-form form {
          margin-bottom: 7px; }
          #booking .booking-card .booking-for-food .booking-form form label {
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            font-weight: 700;
            color: #cc9900;
            display: block;
            margin-bottom: 6px; }
          #booking .booking-card .booking-for-food .booking-form form input {
            margin-bottom: 15px;
            width: 200px;
            height: 36px;
            padding-left: 10px;
            border: 1px solid #c8c6c6; }
            #booking .booking-card .booking-for-food .booking-form form input:focus {
              border: 1px solid #cc9900; }
        #booking .booking-card .booking-for-food .booking-form .calendar-form {
          position: relative; }
          #booking .booking-card .booking-for-food .booking-form .calendar-form span {
            position: absolute;
            right: 15px;
            top: 32px; }
      #booking .booking-card .booking-for-food input[type="submit"] {
        width: 200px;
        height: 36px;
        background-color: #cc9900;
        border: none;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        color: #ffffff;
        cursor: pointer; }

footer {
  position: absolute;
  top: 4800px;
  left: 0;
  right: 0;
  padding: 90px 0;
  background-color: #191919;
  color: #ffffff; }
  footer .container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-column-gap: 20px; }
    footer .container .about,
    footer .container .opening-hours,
    footer .container .location {
      text-align: center; }
      footer .container .about h3,
      footer .container .opening-hours h3,
      footer .container .location h3 {
        font-family: "Yeseva One", serif;
        font-size: 21px;
        letter-spacing: 1px; }
      footer .container .about p,
      footer .container .opening-hours p,
      footer .container .location p {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        line-height: 26px; }
    footer .container .about {
      grid-column: 1 / 2;
      display: flex;
      flex-direction: column;
      align-items: center; }
      footer .container .about p {
        width: 345px; }
    footer .container .opening-hours .paymethod ul {
      list-style: none;
      margin: 70px 0 0;
      padding: 0; }
      footer .container .opening-hours .paymethod ul li {
        display: inline-block;
        padding: 0 5px; }
    footer .container .location .social-links ul {
      list-style: none;
      margin: 70px 0 0;
      padding: 0; }
      footer .container .location .social-links ul li {
        display: inline-block;
        padding: 0 5px; }
        footer .container .location .social-links ul li a {
          color: #ffffff;
          transition: 300ms; }
          footer .container .location .social-links ul li a:hover {
            color: #cc9900; }

/* :: MEDIA QUERIES :: */
@media screen and (max-width: 1200px) {
  #header .container {
    position: absolute;
    width: 100%; }
    #header .container header {
      margin: 0 20px; }
      #header .container header nav {
        display: block;
        position: absolute;
        width: 100%;
        top: 110px;
        left: -100%;
        background-color: rgba(0, 0, 0, 0.9);
        transition: all 300ms ease; }
        #header .container header nav.active {
          left: 0; }
        #header .container header nav ul {
          display: block;
          text-align: center; }
          #header .container header nav ul a {
            border-bottom: 1px solid #cc9900; }
      #header .container header .social {
        float: left;
        margin-left: 20px; }
        #header .container header .social a {
          color: #ffffff; }
      #header .container header .menu-toggle {
        display: block;
        float: right;
        height: 110px !important;
        line-height: 110px !important; }
    #header .container .hero-cta {
      width: 900px;
      margin: 200px auto 0; }
      #header .container .hero-cta .hero {
        width: 850px; }
        #header .container .hero-cta .hero h1 {
          font-size: 70px; }
      #header .container .hero-cta .cta .btn {
        padding: 15px 45px; }
  #ingredients .container {
    width: 100%; }
    #ingredients .container .ingredient-box-bg {
      margin-right: 100px; }
  #lambdaMenus .container {
    width: 100%; }
    #lambdaMenus .container .column {
      margin: 90px 15px; }
  #booking .booking-card {
    margin-left: 50px; }
  #booking .booking-for-food {
    margin-right: 50px; } }

@media screen and (max-width: 900px) {
  #header .hero-cta {
    width: 750px !important;
    margin: 350px auto 0; }
    #header .hero-cta .hero {
      width: 600px !important; }
  #review .container {
    width: 100%;
    flex-direction: column;
    align-items: center; }
    #review .container .cookReview {
      margin-top: 45px;
      margin-bottom: 20px; }
    #review .container .dish {
      margin-top: 45px;
      margin-bottom: 20px; }
  #ingredients {
    top: 2040px; }
    #ingredients .container {
      width: 100%; }
  #lambdaMenus {
    top: 2800px; }
    #lambdaMenus .column {
      column-gap: 80px; }
    #lambdaMenus .menu-head h2 {
      font-size: 30px !important; }
    #lambdaMenus .special01::before,
    #lambdaMenus .special02::before {
      top: 92px !important; }
  #guestReviews {
    top: 3900px; }
    #guestReviews .container {
      width: 100%; }
  #booking {
    top: 4660px; }
    #booking .container {
      width: 100%; }
      #booking .container .booking-card {
        display: block;
        margin-left: 160px; }
        #booking .container .booking-card .right-food-img {
          display: block;
          margin-bottom: 80px; }
  footer {
    top: 5950px; }
    footer .container {
      width: 100%; } }

@media screen and (max-width: 650px) {
  #header .hero-cta {
    width: 400px !important;
    margin: 250px auto 0; }
    #header .hero-cta .hero {
      width: 300px !important; }
      #header .hero-cta .hero h1 {
        font-size: 50px !important; }
    #header .hero-cta .cta .btn {
      display: block; }
    #header .hero-cta .cta .btn-black {
      margin: 0 0 20px; }
    #header .hero-cta .cta .btn-white {
      margin: 20px 0 0; }
  #ingredients .ingredient-box-bg {
    width: 500px !important;
    margin: 100px auto !important; }
    #ingredients .ingredient-box-bg .ingredient-box {
      margin: 40px !important; }
  #lambdaMenus .column {
    column-gap: 50px; }
  #guestReviews .review-box-bg {
    width: 500px;
    height: auto;
    margin: 70px auto; }
    #guestReviews .review-box-bg .review-box {
      margin: 40px; }
      #guestReviews .review-box-bg .review-box p {
        width: 400px; }
  #booking .booking-card {
    margin-left: 40px !important; }
  #booking .booking-for-food {
    margin-left: 70px !important; }
  footer .container {
    grid-template-columns: 1fr; }
    footer .container .about,
    footer .container .opening-hours,
    footer .container .location {
      margin-bottom: 80px; } }

@media screen and (max-width: 500px) {
  #review .dish img {
    width: 400px; }
  #ingredients {
    top: 1800px; }
    #ingredients .ingredient-box-bg {
      width: 350px !important; }
      #ingredients .ingredient-box-bg .ingredient-box p {
        width: 190px !important;
        text-align: left !important;
        margin: 0 0 40px !important; }
      #ingredients .ingredient-box-bg .ingredient-box ul li img {
        width: 85px; }
  #lambdaMenus {
    top: 2550px; }
    #lambdaMenus .column {
      column-count: 1;
      column-gap: 20px; }
    #lambdaMenus .menu-head h2 {
      font-size: 26px !important; }
    #lambdaMenus .menu-name h3 {
      font-size: 18px !important; }
    #lambdaMenus .special01::before,
    #lambdaMenus .special02::before {
      top: 70px !important; }
  #guestReviews {
    top: 4500px; }
    #guestReviews .review-box-bg {
      width: 350px;
      height: auto;
      margin: 40px auto; }
      #guestReviews .review-box-bg .review-box {
        margin: 40px; }
        #guestReviews .review-box-bg .review-box h1 {
          margin: 40px 0 15px; }
        #guestReviews .review-box-bg .review-box p {
          width: 300px; }
  #booking {
    top: 5250px; }
    #booking .right-food-img {
      width: 450px !important; }
      #booking .right-food-img img {
        width: 200px; }
    #booking .booking-for-food {
      margin-left: 7px !important; }
  footer {
    top: 6400px; } }

@media screen and (max-width: 420px) {
  #review .cookReview h1 {
    font-size: 28px !important; }
  #review .cookReview p {
    width: 250px !important; }
  #review .dish img {
    width: 250px; }
  #ingredients {
    top: 1750px; }
  #lambdaMenus {
    top: 2500px; }
    #lambdaMenus .special01::before,
    #lambdaMenus .special02::before {
      top: 88px !important; }
  #guestReviews {
    top: 4600px; }
  #booking {
    top: 5375px; }
    #booking .booking-card {
      margin-left: 10px !important; }
      #booking .booking-card .right-food-img {
        width: 350px !important;
        margin: 0 5px; }
        #booking .booking-card .right-food-img img {
          width: 150px; }
      #booking .booking-card .booking-for-food {
        width: 350px; }
        #booking .booking-card .booking-for-food .right-food p {
          width: 330px; }
        #booking .booking-card .booking-for-food .booking-form {
          width: 350px; }
          #booking .booking-card .booking-for-food .booking-form form input {
            width: 150px; }
  footer {
    top: 6500px; } }

/* :: STYLES End :: */
